<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Poista viini</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" href="css/stickyfooter.css" th:href="@{/css/stickyfooter.css}" />
</head>
<body>
<div class="container">
	
	<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/winelist">Viinilista</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="/add">Lisää viini</a></li>
					</ul>
					<div class="nav navbar-nav navbar-right">
						<div sec:authorize="isAuthenticated()">
							<form th:action="@{/logout}" method="post" class="navbar-text"> <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Kirjaudu ulos</button></form>
						</div>
						<div sec:authorize="!isAuthenticated()">
						<form sec:authorize="!isAuthenticated()" action="/login" class="navbar-text"><button type="submit" class="btn btn-outline-success my-2 my-sm-0">Kirjaudu sisään</button></form>
						</div>
					</div>
				</div>
				<!--/.nav-collapse -->
			</div>
			<!--/.container-fluid -->
		</nav>
      
	<h4>Jotain meni pahasti vikaan</h4>
	<a href="/winelist">Takaisin listalle</a>
	</div>
</body>
</html>